extends ../base.pug

include ../images.pug


block variables
  - var htmlId = "fareharbor"
  - var title = "FareHarbor - Giaco Corsiglia"
  - var url = "https://giacocorsiglia.com/portfolio"
  - var description = "Giaco Corsiglia’s work at FareHarbor."
  - let tabindex = 1


mixin gallery(slides)
  figure(class={ 'gallery': true, 'multiple-slides': slides.length > 1 })
    if slides.length > 1
      figcaption.gallery__controls
        each _, index in slides
          button(
            class={
              'gallery__controls__slide': true,
              'gallery__controls__slide-first': index === 0,
              'gallery__controls__slide-last': index === slides.length -1,
              'gallery__controls__slide-active': index === 0
            },
            title=`Go to slide ${index}`
            data-index=index,
            tabindex=tabindex++,
          )
            span Slide #{index}

        button.gallery__controls__play(title='Play slideshow', tabindex=tabindex++) Play

        button.gallery__controls__pause(title='Pause slideshow', disabled=true, tabindex=tabindex++) Pause

        button.gallery__controls__fullscreen(title='Fullscreen', tabindex=tabindex++,) Fullscreen

    .image-container
      each slide in slides
        - const [name, ext, alt] = slide
        +image(`fareharbor/${name}`, ext, 1040, 538, 1042, alt).gallery__slide


block body
  //- This wrapper has to clip an area above <main> since that has things
  //- protruding vertically (in particular the angled backgrounds).
  .overflow-x
    header
      ol.breadcrumb
        li: a(href="/") Giaco Corsiglia
        li: a(href="/portfolio") Portfolio
        li: span FareHarbor

      h1 Giaco @ FareHarbor

      div.columns
        div.column
          p.
            I spent three great years as a software engineer and product designer
            at #[a(href='https://fareharbor.com'): b FareHarbor].  During this
            time, I contributed to numerous projects spanning multiple
            technologies and business areas.  Some highlights are listed&nbsp;here.

          p.
            Most projects fit in the core application, written in #[b JavaScript]
            (Angular 1) and #[b Python] (Django).  I also wrote a significant
            amount of #[b PHP], and dabbled with&nbsp;TypeScript.

        div.column#lighthouse-column
          p.
            FareHarbor offers reservation and accounting software alongside a
            suite of services designed to help tour and activity companies grow.
            I worked in close collaboration with the rest of the product
            team—especially it leaders,
            #[a(href='https://bryanknauber.com'): b Bryan],
            #[a(href='http://mattbroten.com'): b Matt],
            and&nbsp;#[a(href='http://zachsnow.com'): b Zach].

          include ./lighthouse.svg

    main
      section#timeline
        .section-content
          .column
            h2 Timeline View

            p.
              The Timeline View presents detailed inventory usage and availability
              over a given day.  It allows tour and activity operators to view their
              schedule at-a-glance, and provides an easy interface for booking
              new&nbsp;customers.

            p.
              I received this project as a prototype and saw it through to completion,
              adding and refining features along the way.  Product challenges included
              packing in information while retaining usability, and the popover
              interface for interacting with individual blocks on the&nbsp;timeline.

            p.
              Technical challenges included optimizing render performance, and both
              implementing and using the server api in a performant fashion.  Not to
              mention the CSS trickery that enables precisely positioned nodes to
              expand to an arbitrary height—and works in&nbsp;IE&nbsp;10.

          +gallery([
            ['timeline-1', 'png', 'Screenshot of the Timeline View showing time-based inventory usage and availability.'],
            ['timeline-2', 'png', 'Screenshot of the Timeline View showing a popover which provides details on specific usage of a given inventory,item.'],
            ['timeline-3', 'png', 'Screenshot of the Timeline View showing the interface for configuring the view.'],
            ['timeline-4', 'png', 'Screenshot of the Timeline View showing a daily schedule.'],
          ])

      section#grid
        .section-content
          .column
            h2 Grid View

            p.
              The Grid View provides a highly customizable schedule overview.  It
              supports organization across three axes (rows, columns, and groups), but
              retains the filtering functionality and the design of FareHarbor’s
              existing monthly and daily agenda&nbsp;views.

            p.
              Like the Timeline View, I took this project from a prototype to its
              production-ready form.  It posed similar challenges.  The Grid became
              the default schedule view for all new FareHarbor&nbsp;clients.

          +gallery([
            ['grid-1', 'png', 'Screenshot of the Grid View showing a weekly schedule organized by day and activity.'],
            ['grid-2', 'png', 'Screenshot of the Grid View showing a weekly schedule organized by day, time, and crew member.'],
            ['grid-3', 'png', 'Screenshot of the Grid View showing the interface for configuring the view'],
          ])

      section#sites
        h2 FareHarbor Sites

        .columns
          p.
            #[a(href='https://fareharbor.com/tour/websites/'): b FareHarbor Sites]
            is a website hosting platform with highly flexible templates designed
            for tourism companies.  Helping clients expand their businesses is
            FareHarbor’s prime directive, and FH Sites helps supercharge their
            online&nbsp;presence.

          p.
            I joined FareHarbor for this project, which then hosted some 70 sites.
            The existing templates were functional, but rigid, and could not keep up
            with the evolving needs of the growing client-base.  I reenvisioned them
            as a website builder supporting arbitrary organization of modular
            components.  I independently designed and implemented this new feature
            set over several months, and continued to refine it.  As of July 2018,
            FH Sites powered nearly #[b 700&nbsp;websites].

          p.
            FH Sites is built on WordPress.  The PHP code I wrote adheres strictly
            to object-oriented standards.  When I departed, the platform handled
            over 1,000 requests per minute, and my custom page caching
            implementation kept response times low.  I helped migrate FH Sites to a
            multi-server infrastructure on Amazon Web Services, writing Nginx
            configuration and an Ansible-based deploy&nbsp;playbook.

      section#embed-generator
        .section-content
          .column
            h2 Embed Generator

            p.
              FareHarbor’s website embeds power online booking for
              #[b thousands of companies].  But their clients have businesses to run;
              they don't have time to learn the JavaScript API!  So, I helped build
              the Embed Generator, a GUI for configuring book button and
              calendar&nbsp;embeds.

          +gallery([
            ['embed-generator', 'png', 'Screenshot showing the Embed Generator, which presents a four-step interface for generating an HTML snippet.'],
          ])

      section#content
        .section-content
          .column
            h2 FareHarbor.com

            p.
              When I left in July 2018, I was responsible for a good deal of the
              code—and some of the design direction—behind the public FareHarbor.com
              website.  FareHarbor offers a wide range of features and services, so
              the website seeks to guide visitors to the information important to
              them.  It additionally hosts the documentation center for
              existing&nbsp;clients.

            p.
              The FareHarbor website is translated into multiple languages and
              localized for several countries.  I implemented the logic which
              enables&nbsp;this.

          +gallery([
            ['content-1', 'jpg', 'Screenshot showing a page on the FareHarbor website advertising a feature named FareHarbor Telescope.'],
            ['content-2', 'jpg', 'Screenshot showing a page on the FareHarbor website advertising the aforementioned FareHarbor Sites.'],
            ['content-3', 'jpg', 'Screenshot showing the homepage of the FareHarbor website.'],
            ['content-4', 'png', 'Screenshot showing the country and language selector interface for the FareHarbor website.'],
          ])

      section#other
        .section-content
          .column
            h2 Other Projects

            p.
              Like the website, the FareHarbor application is also internationalized.
              I helped add support for translation, as well as localized date, number,
              and currency&nbsp;formatting.

            p.
              I was also involved in several projects adding new ways to process or
              record payment in the&nbsp;application.

            p.
              As mentioned above, FareHarbor's JavaScript API powers embeds on tens of
              thousands of webpages.  I made several additions to this API, including
              the ability to maintain a consistent shopping cart state across multiple
              third-party iframes and page&nbsp;refreshes.

          figure
            .image-container
              +image('fareharbor/other', 'png', 406, 346, 408, 'Screenshot of an interface for calculating a percentage-based refund.')

            figcaption.
              I contributed many small details to the application over my time at
              FareHarbor, like this refund&nbsp;calculator.

      aside
        p.
          #[b NB]:  all screenshots on this page are of software owned by
          FareHarbor Holdings, LLC.  Furthermore, they were taken in July of 2018
          and thus may be out of date.  In fact, FareHarbor is
          #[a(href='https://fareharbor.com/jobs/product/'): b always&nbsp;improving].#[br]
          The lighthouse logo is also property of&nbsp;FareHarbor.
