block variables

doctype html
html(lang="en", id=htmlId)
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="HandheldFriendly" content="true")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    title=title
    meta(name="description" content=description)
    meta(property="og:url" content=url)
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    //- meta(property="og:image" content=image)
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="https://giacocorsiglia.com")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    //- meta(name="twitter:image" content=image)

    link(rel="stylesheet", href="/index.css")
    link(rel="icon" type="image/x-icon" href="/favicon.ico")
  body
    //- Stylesheet.
    //- var fontWeights = '100,100i,300,300i,400,400i,700,700i,900,900i'
    - var fontWeights = '400,700,900'
    link(
      href="https://fonts.googleapis.com/css?family=Lato:" + fontWeights,
      rel="stylesheet"
    )

    block body

    footer#footer
      p © Giaco Corsiglia 2018
